*~
target
derby.log
.xCodeSupport
.DS_Store
.idea
*.iml
/server/cryson_test/
/client/Build
/client/Documentation
examples/SimpleCrysonDiary/src/main/objective-j/Frameworks
examples/SimpleCrysonDiary/simple_cryson_diary
examples/AdvancedCrysonDiary/src/main/objective-j/Frameworks
examples/AdvancedCrysonDiary/advanced_cryson_diary
